*, *:before, *:after {
    box-sizing: border-box;
  }

html, body {
    margin:0;
    font:1em/1.5 'Roboto',sans-serif;
    height: 100%;
}
p{
    display:inline;
}
.container {
    display:grid;
    grid-template-columns: [first-line] 4em [second-line] 1fr [third-line] 1fr [fourth-line] 1fr [fifth-line] 1fr [sixth-line] 1fr [seventh-line] 1fr [eighth-line] 4em [ninth-line];
    grid-template-rows: 3.5em 14em 1fr 21.5em;
    height: 100%;
    width: 100%;
    grid-template-areas:
        "header header header header header header header header "
        "section section section section section section section section"
        "article article article article article article article article"
        "footer footer footer footer footer footer footer footer";
    align-items: stretch;
            
}

header{
    grid-area: header;
    background-color: #c81b37;
}

section{
    grid-area: section;
    background-color: #c81b37;
}

article{
    grid-area: article;
}

footer{
    grid-area: footer;
}




@media screen and (min-width:1200px) {
    .container{
        margin: 0 ;
        grid-template-columns: [first-line] 1fr [second-line] 1fr [third-line] 1fr [fourth-line] 1fr [fifth-line] 1fr [sixth-line] 1fr [seventh-line] 1fr [eaighth-line] 1fr [ninth-line] 1fr [tenth-line] 1fr [eleventh-line] 1fr [twelveth-line] 1fr [thirteenth-line];
        grid-template-areas:
        "header header header header header header header header header header header header "
        "section section section section section section section section section section section section "
        "article article article article article article article article article article article article "
        "footer footer footer footer footer footer footer footer footer footer footer footer ";
    }
    .logo{
        text-decoration:none;
        color:#FFF;
    }
}