:root {
    --crvena:#c81b37;
}

*, *:before, *:after {
    box-sizing: border-box;
  }

html, body {
    margin:0;
    font:1em/1.5 'Roboto',sans-serif;
    height: 100%;
}


.container {
    display:grid;
    grid-template-columns: [first-line] 1fr [second-line] 1fr [third-line] 1fr [fourth-line] 1fr [fifth-line] ;
    grid-template-rows: 7em 76.5em 1fr 21.5em ;
    height: 100%;
    width: 100%;
    grid-template-areas:
        "header header header header "
        "section section section section"
        "article article article article"
        "footer footer footer footer";
            
}

header{
    grid-area: header;
    background-color: var(--crvena);
    display:grid;
    grid-template-columns: [first-line] 4em [second-line] 1fr [third-line] 1fr [fourth-line] 1fr [fifth-line] 1fr [sixth-line] 1fr [seventh-line] 7.5em [eighth-line] 4em [ninth-line];
    grid-template-rows: 1.75em 3.5em 1.75em;
    grid-template-areas:
        ". . . . . . . ."
        ". logo . . . translate lines ."
        ". . . . . . . .";

}

section{
    grid-area: section;
    background-color: var(--crvena);
    display: grid;
    grid-template-columns: [first-line] 4em [second-line] 1fr [third-line] 2em [forth-line];
    grid-template-rows: [first-row] 0em [second-row] 28em [third-row] 18em [fourth-row] 4em [fifth-row] 1fr [sixth-row];
    row-gap: 3.5em;
}

article{
    grid-area: article;
    display:grid;
    grid-template-columns: [first-line] 4em [second-line] 1fr [third-line] 4em [forth-line];
}

footer{
    grid-area: footer;
}

.logo{
    grid-area: logo;
    margin: 0;
}

.logo-svg{
    width: 3.5em;
    height: 3.5em;
}

.translate {
    grid-area: translate;
    justify-self: end;
}

.lines {
    grid-area: lines;
    justify-self: end;
    width: 3.5em;
    height: 3.5em;
}

#naslov {
    color:#FFF;
    grid-column: second-line / third-line;
    grid-row: second-row / third-row;
    font-size: 6em;
    margin: 0;
}

#podnaslov {
    color: #FFF;
    grid-column: second-line / third-line;
    grid-row: third-row / fourth-row;
    font-size:3em;
    margin:0;
}

.fb-like {
    grid-column: second-line / third-line;
    grid-row: fourth-row / fifth-row;
}

.slack{
    grid-column: second-line / third-line;
    grid-row: fifth-row / sixth-row;
}

.title, .content {
    grid-column: second-line / third-line;
    margin-bottom: 0;
}

.title {
    font-size: 3em;
    color: var(--crvena);
}

.content {
    font-size: 2em;
}

.btn-1{
    grid-column: second-line / third-line;
    color: var(--crvena);
    border: 1px solid var(--crvena);
    border-radius: .25em;
    padding: 8px 12px;
    text-decoration: none;
    text-align: center;
    width: 24em;
}

@media screen and (min-width:1200px) {
    .container{
        margin: 0 ;
        grid-template-columns: [first-line] 1fr [second-line] 1fr [third-line] 1fr [fourth-line] 1fr [fifth-line] 1fr [sixth-line] 1fr [seventh-line] 1fr [eaighth-line] 1fr [ninth-line] 1fr [tenth-line] 1fr [eleventh-line] 1fr [twelveth-line] 1fr [thirteenth-line];
        grid-template-areas:
        "header header header header header header header header header header header header "
        "section section section section section section section section section section section section "
        "article article article article article article article article article article article article "
        "footer footer footer footer footer footer footer footer footer footer footer footer ";
    }
    .logo{
        text-decoration:none;
        color:#FFF;
    }
}